@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   overflow: hidden;
}

@font-face {
   font-family: "Nunito";
   src: url("/Nunito-Regular.ttf");
}
@font-face {
   font-family: "Nunito";
   src: url("/Nunito-Bold.ttf");
   font-weight: bold;
}

:root {
   font-family: Nunito, Inter, Avenir, Helvetica, Arial, sans-serif;

   --bg-body: #d0e2f5;
   --bg: #e3eefc;
   --text: #687a90;
   --text-faded: rgba(104, 122, 144, 0.5);
   --bg-selected:#cbdef0;
   --bg-selected-hover:rgba(203, 222, 240, 0.25);
   --bg-selected-darker:rgb(183, 200, 216);

   --shadow-dark: #c1cad6;
   --shadow-light: #ffffff;
   --shadow-dark-inset: #d3ddea;
   --shadow-light-inset: #f3ffff;
}

:root :has(#theme[dark]) {
   --bg-body: #1b2138;
   --bg: #222d46;
   --text: #d0e2f5;
   --text-faded: rgba(208, 226, 245, 0.5);
   --bg-selected:#141a30;
   --bg-selected-hover: rgba(20, 26, 48, 0.25);;

   --shadow-dark: #141b2a;
   --shadow-light: #303f62;
   --shadow-dark-inset: #182031;
   --shadow-light-inset: #2c3b5b;
}

*::-webkit-scrollbar {
   width: 8px;
}
*::-webkit-scrollbar-track {
   background: #0000;
}

.sortable-chosen{
   /* opacity: 0; */
}

.sortable-ghost{
   background: var(--bg-selected) !important;
   opacity: 1;
}